<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css">
             <title>{% block title %}{% endblock %} - test</title>

        {% endblock %}
    </head>
    <body>
        {% block content %}
        <a href="./index.php?action=add">them</a>
        <table border="1" style="width: 80%;">
            <thead>
                <tr>
                    <td>id</td>
                    <td>user</td>
                    <td>email</td>
                    <td>sua</td>
                    <td>xoa</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><a href="./index.php?action=edit&id={{user.id}}">sua</a></td>
                    <td><a href="./index.php?action=delete&id={{user.id}}">xoa</a></td>              
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </body>
</html>
