{% extends 'admin/base_admin.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-sm">
			<h3 class="text-center text-uppercase fw-bold">Sửa thông tin tác giả</h3>
			{% for author in findAuthor %}
				<form action="index.php?controller=author&action=edit&id={{author.ma_tgia}}" method="post" enctype="multipart/form-data">
					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblTgId">Mã tác giả</span>
						<input type="text" class="form-control" name="ma_tgia" id="ma_tgia" value="{{author.ma_tgia}}" readonly>
					</div>

					<div class="input-group mt-3 mb-3">
						<span class="input-group-text" id="lblTgName">Tên tác giả</span>
						<input type="text" class="form-control" name="ten_tgia" id="ten_gia" value="{{author.ten_tgia}}" style="border-top-right-radius: 7px; border-bottom-right-radius:7px">
					</div>

					<div class="form-group mt-3 mb-3">
						<label>Hình tác giả</label>
						<img style="width: 100px;" src="/CSE485_2023_BTTH03_3/views/images/authors/{{author.ma_tgia}}">
						<input type="file" class="form-control" name="hinh_tgia">
					</div>
					<div class="form-group  float-end ">
						<input type="submit" name="save" value="Lưu lại" class="btn btn-success">
						<a href="index.php?controller=author&action=list" class="btn btn-warning ">Quay lại</a>
					</div>
				</form>
			{% endfor %}
		</div>
	</div>
{% endblock %}
